* {
  box-sizing: border-box;
}

::selection {
  background-color: $clr1;
  color: $clr6;
}

html {
  font-family: caveat;
  line-height: 1.6;
  color: $clr6;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: montserrat;
  margin: 0 0 0.6em;
  line-height: 1;
  text-align: center;
}

a {
  text-decoration-line: none;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 5px;
}
