@font-face {
  font-family: caveat;
  src: url(../../font/Caveat/Caveat-Regular.ttf);
}
@font-face {
  font-family: Haalei;
  src: url(../../font/Haalei/Hanalei-Regular.ttf);
}
@font-face {
  font-family: montserrat;
  src: url(../../font/Montserrat/Montserrat-Black.ttf);
}
@font-face {
  font-family: Rancho;
  src: url(../../font/Rancho/Rancho-Regular.ttf);
}
@font-face {
  font-family: Anton;
  src: url(../../font/Anton/Anton-Regular.ttf);
}
