// Colors
$clr1: #f35588;
$clr2: #ffbbb4;
$clr3: #71a95a;
$clr4: #007944;
$clr5: #fff;
$clr6: rgb(68, 68, 68);

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;